<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable </th>
          <th>Pipe </th>
          <th>Salida </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>    
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <!-- Corta las primeras 3 posiciones del nombre -->
          <td>{{ nombre }}</td>
          <td>slice: 3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <!-- Mostrar de la posición adelante de cero hasta la tres-->
          <td>{{ nombre }}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice:0:3 }}</td>
        </tr>   
        <tr>
          <!-- Mostrar de la posición adelante de la 1 a la 5-->
          <td>{{ arreglo }}</td>
          <td>slice:1:5</td>
          <td>{{ arreglo | slice:1:5 }}</td>
        </tr> 
        <tr>
          <!-- Quiero un dígito y ningún decimal-->
          <td>{{ PI }}</td>
          <td>number number:'1.0-0'</td>
          <td>{{ PI | number:'1.0-0' }}</td>
        </tr> 
        <tr>
          <!-- Quiero tres posiciones enteras-->
          <td>{{ PI }}</td>
          <td>number number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <!-- Quiero toda la parte entera pero sólo dos decimales-->
          <td>{{ PI }}</td>
          <td>number number:'.0-2'</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>
        <tr>
          <!-- Transformar la cantidad a porcentaje-->
          <td>{{ porcentaje }}</td>
          <td>percent</td>
          <td>{{ porcentaje | percent }}</td>
        </tr> 
        <tr>
          <!-- Quiero dos posiciones enteras y dos decimales-->
          <td>{{ porcentaje }}</td>
          <td>percent percent:'2.2-2'</td>
          <td>{{ porcentaje | percent:'2.2-2' }}</td>
        </tr> 
        
        <tr>
          <!-- Mostrar los datos con formato de moneda-->
          <td>{{ salario }}</td>
          <td>currency</td>
          <td>{{ salario | currency }}</td>
        </tr>
        <tr>
          <!-- Mostrar los datos con formato de euro-->
          <td>{{ salario }}</td>
          <td>currency:'EUR'</td>
          <td>{{ salario | currency:'EUR' }}</td>
        </tr>
        <tr>
          <!-- Mostrar los datos con formato de dólares canadienses con toda la parte entera y ningún decimal; el "symbol" es para que la moneda se muestre como tal en lugar del símbolo-->
          <td>{{ salario }}</td>
          <td>currency:'CAD$':'symbol':'.0-0'</td>
          <td>{{ salario | currency:'CAD$':'symbol':'.0-0' }}</td>
        </tr>
        <tr>
          <!--Mostrar los datos con formato de dólares canadieneses con toda la parte entera y ningún decimal; el "symbol-narrow" es para que aparezca el símbolo de dólar ($) -->
          <td>{{ salario }}</td>
          <td>currency:'CAD'</td>
          <td>{{ salario | currency:'CAD':'symbol-narrow':'.0-0' }}</td>
        </tr>
        <tr>
          <!--Mostrar los datos de la promesa -->
          <td>{{ valorPromesa }}</td>
          <td>async</td>
          <td>{{ valorPromesa | async }}</td>
        </tr>
        <tr>
          <!--Mostrar la fecha con argumento medium-->
          <td>{{ fecha }}</td>
          <td>date</td>
          <td>{{ fecha | date }}</td>
        </tr>
        <tr>
          <!--Mostrar la fecha con argumento medium-->
          <td>{{ fecha }}</td>
          <td>date:'medium'</td>
          <td>{{ fecha | date:'medium' }}</td>
        </tr>
        <tr>
          <!--Mostrar la fecha con argumento short-->
          <td>{{ fecha }}</td>
          <td>date:'short'</td>
          <td>{{ fecha | date:'short' }}</td>
        </tr>
        <tr>
          <!--Mostrar la fecha personalizada-->
          <td>{{ fecha }}</td>
          <td>date:'MMMM - dd'</td>
          <td>{{ fecha | date:'MMMM - dd' }}</td>
        </tr>


        <tr>
          <!--Mostrar la fecha en francés-->
          <td>{{ fecha }}</td>
          <td>date:'MMMM - dd':'':'fr'</td>
          <td>{{ fecha | date:'MMMM - dd':'':'fr' }}</td>
        </tr>




        <tr>
          <!--Mostrar la fecha con español, inglés y francés-->
          <td>{{ fecha }}</td>




          <td>date:'MMMM - dd':'':'{{ idioma }}'
            <br>
            <button (click)="idioma = 'es'" class="mr-1 btn btn-primary">Español</button>
            <button (click)="idioma = 'en'" class="mr-1 btn btn-secondary">Inglés</button>
            <button (click)="idioma = 'fr'" class="mr-1 btn btn-success">Francés</button>
          </td>



          <td>{{ fecha | date:'MMMM - dd':'':idioma }}</td>



        </tr>


        <tr>
          <!--Pipe personalizado-->
          <td>{{ miNombre }}</td>
          <td>personalizado capitalizado</td>
          <td>{{ miNombre | pipePersonalizado }}</td>
        </tr>





      </tbody>
    </table>
    <!-- Mostrar de la posición 5 en adelante hasta la 20 -->
    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
    </ul>
    <h3>JSON</h3>
    <hr>
    <div class="row mb-5">
      <div class="col">
        <pre>{{ heroe | json }}</pre>
      </div>
    </div>
  </div>
</div>