<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr>

<div class="row">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable </th>
          <th>Pipe </th>
          <th>Salida </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ nombre }}</td>
          <td>uppercase</td>
          <td>{{ nombre | uppercase }}</td>
        </tr>    
        <tr>
          <td>{{ nombre }}</td>
          <td>lowercase</td>
          <td>{{ nombre | lowercase }}</td>
        </tr>
        <tr>
          <!-- Corta las primeras 3 posiciones del nombre -->
          <td>{{ nombre }}</td>
          <td>slice: 3</td>
          <td>{{ nombre | slice:3 }}</td>
        </tr>
        <tr>
          <!-- Mostrar de la posición adelante de cero hasta la tres-->
          <td>{{ nombre }}</td>
          <td>slice:0:3</td>
          <td>{{ nombre | slice:0:3 }}</td>
        </tr>   
        <tr>
          <!-- Mostrar de la posición adelante de la 1 a la 5-->
          <td>{{ arreglo }}</td>
          <td>slice:1:5</td>
          <td>{{ arreglo | slice:1:5 }}</td>
        </tr> 
        <tr>
          <!-- Quiero un dígito y ningún decimal-->
          <td>{{ PI }}</td>
          <td>number number:'1.0-0'</td>
          <td>{{ PI | number:'1.0-0' }}</td>
        </tr> 
        <tr>
          <!-- Quiero tres posiciones enteras-->
          <td>{{ PI }}</td>
          <td>number number:'3.0-0'</td>
          <td>{{ PI | number:'3.0-0' }}</td>
        </tr>
        <tr>
          <!-- Quiero toda la parte entera pero sólo dos decimales-->
          <td>{{ PI }}</td>
          <td>number</td>
          <td>{{ PI | number:'.0-2' }}</td>
        </tr>  
      </tbody>
    </table>
    <!-- Mostrar de la posición 5 en adelante hasta la 20 -->
    <h4>Slice</h4>
    <ul>
      <li *ngFor="let item of arreglo | slice:5:20">{{ item }}</li>
    </ul>
  </div>
</div>